body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

header {
  font-family: "Roboto", sans-serif;
  background-color: #fcfcfc;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 16px;
}

.web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
header .studio {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list {
  list-style: none;
}

.nav-list a {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav-list a:active {
  color: #404bbf;
  text-decoration: underline;
}

.nav-list a:hover,
.nav-list a:focus {
  text-decoration: none;
  color: #404bbf;
}

address a {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
}

address a:hover,
address a:focus  {
  color: #404bbf;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.title > button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.title > button:hover,
.title > button:focus {
  background-color: #404bbf;
}

.benefits {
  font-family: inherit;
  background-color: #fcfcfc;
}

.benefits ul {
  list-style: none;
}

.team {
  font-family: inherit;
  background-color: #f4f4fd;
}

.team ul {
  list-style: none;
}

h2 {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
}
h3 {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.portfolio {
  font-family: inherit;
  background-color: #fcfcfc;
}

.portfolio ul {
  list-style: none;
}

footer {
  font-family: inherit;
  background-color: #2e2f42;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
}
footer .studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
